force-app/main/default/flows/One_Screen_Donation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Status_Decision</name>
        <label>Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Pay_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Payment</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Screen</targetReference>
            </connector>
            <label>Success</label>
        </rules>
        <rules>
            <name>Failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failure_Screen</targetReference>
            </connector>
            <label>Failure</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>One_Time_Amount</name>
        <dataType>Number</dataType>
        <expression>IF({!amountAndFrequency.frequency} = &quot;oneTime&quot;,
{!amountAndFrequency.amount}
,0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Recurring_Amount</name>
        <dataType>Number</dataType>
        <expression>IF({!amountAndFrequency.frequency} = &quot;recurring&quot;,
{!amountAndFrequency.amount}
,0)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>One Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>One Screen Donation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Failure_Screen</name>
        <label>Failure Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Failure_Display_Text</name>
            <fieldText>&lt;p&gt;Uh oh! Something went wrong.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pay_screen</name>
        <label>Pay screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actions>
            <name>Contact_Assignment</name>
            <actionName>Contact_Assignment_Flow</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>email</name>
                <value>
                    <elementReference>Email.value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>First_Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>Last_Name</elementReference>
                </value>
            </inputParameters>
            <label>Contact Assignment Flow</label>
            <nameSegment>Contact_Assignment_Flow</nameSegment>
        </actions>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>amountAndFrequency</name>
            <extensionName>c:amountAndFrequency</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Pay_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pay_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pay_screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>paymentMethodSelector</name>
            <extensionName>cpm:paymentMethodSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>frequency</name>
                <value>
                    <elementReference>amountAndFrequency.frequency</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>payButton</name>
            <dataTypeMappings>
                <typeName>recurringType</typeName>
                <typeValue>cpm__Recurring_Payment__c</typeValue>
            </dataTypeMappings>
            <extensionName>cpm:payButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pixConfig</name>
                <value>
                    <stringValue>{&quot;payer&quot;:{&quot;contactObject&quot;:{&quot;name&quot;:&quot;payerContactVarName&quot;,&quot;value&quot;:&quot;{!Contact_Assignment.Results.contact}&quot;,&quot;valueDataType&quot;:&quot;reference&quot;}},&quot;paymentMethod&quot;:{&quot;name&quot;:&quot;paymentMethodObjectVar&quot;,&quot;value&quot;:&quot;{!paymentMethodSelector.context}&quot;,&quot;valueDataType&quot;:&quot;reference&quot;},&quot;oneTime&quot;:{&quot;valueDataType&quot;:&quot;Object&quot;,&quot;value&quot;:{&quot;amount&quot;:{&quot;name&quot;:&quot;oneTimeAmount&quot;,&quot;value&quot;:&quot;{!One_Time_Amount}&quot;,&quot;valueDataType&quot;:&quot;reference&quot;},&quot;currencyIsoCode&quot;:{&quot;name&quot;:&quot;oneTimeCurrencyVar&quot;,&quot;value&quot;:&quot;EUR&quot;,&quot;valueDataType&quot;:&quot;String&quot;}}},&quot;recurring&quot;:{&quot;valueDataType&quot;:&quot;Object&quot;,&quot;value&quot;:{&quot;amount&quot;:{&quot;name&quot;:&quot;recurringAmount&quot;,&quot;value&quot;:&quot;{!Recurring_Amount}&quot;,&quot;valueDataType&quot;:&quot;reference&quot;},&quot;currencyIsoCode&quot;:{&quot;name&quot;:&quot;recurringCurrencyVar&quot;,&quot;value&quot;:&quot;EUR&quot;,&quot;valueDataType&quot;:&quot;String&quot;},&quot;frequency&quot;:{&quot;name&quot;:&quot;recurringFrequencyVar&quot;,&quot;value&quot;:&quot;monthly&quot;,&quot;valueDataType&quot;:&quot;String&quot;}}},&quot;successUrl&quot;:{&quot;name&quot;:&quot;successUrl&quot;,&quot;value&quot;:&quot;https://https://enterprise-page-6773-dev-ed.scratch.my.site.com/?status=success&quot;,&quot;valueDataType&quot;:&quot;String&quot;},&quot;failureUrl&quot;:{&quot;name&quot;:&quot;failureUrl&quot;,&quot;value&quot;:&quot;https://https://enterprise-page-6773-dev-ed.scratch.my.site.com/?status=failure&quot;,&quot;valueDataType&quot;:&quot;String&quot;}}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contact</name>
                <value>
                    <elementReference>Contact_Assignment.Results.contact</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentMethodContext</name>
                <value>
                    <elementReference>paymentMethodSelector.context</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>successUrl</name>
                <value>
                    <stringValue>https://https://enterprise-page-6773-dev-ed.scratch.my.site.com/?status=success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>failureUrl</name>
                <value>
                    <stringValue>https://https://enterprise-page-6773-dev-ed.scratch.my.site.com/?status=failure</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amountOneTime</name>
                <value>
                    <elementReference>One_Time_Amount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currencyOneTime</name>
                <value>
                    <stringValue>EUR</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amountRecurring</name>
                <value>
                    <elementReference>Recurring_Amount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currencyRecurring</name>
                <value>
                    <stringValue>EUR</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>frequencyRecurring</name>
                <value>
                    <stringValue>monthly</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
        <triggers>
            <eventName>flow__screeninit</eventName>
            <eventSource>Pay_screen</eventSource>
            <handlers>
                <screenActionName>Contact_Assignment</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>Email.value</eventSource>
            <handlers>
                <screenActionName>Contact_Assignment</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>First_Name</eventSource>
            <handlers>
                <screenActionName>Contact_Assignment</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>Last_Name</eventSource>
            <handlers>
                <screenActionName>Contact_Assignment</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Display_Text</name>
            <fieldText>&lt;p&gt;Success! Thank you for your payment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
