force-app/main/default/flows/Payment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_contact</name>
        <label>Assign contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstNameInput2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastNameInput2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailInput2.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pay_screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>amountChoice1</name>
        <choiceText>€25</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>25.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>amountChoice2</name>
        <choiceText>€50</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>50.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>amountChoice3</name>
        <choiceText>€100</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>OneTime</name>
        <choiceIcon>
            <iconName>utility:money</iconName>
        </choiceIcon>
        <choiceText>Give once</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>oneTime</stringValue>
        </value>
    </choices>
    <choices>
        <name>recurringChoice</name>
        <choiceIcon>
            <iconName>utility:real_time</iconName>
        </choiceIcon>
        <choiceText>Give monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>recurring</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>StatusDecision</name>
        <label>Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AmountScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New payment</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SuccessScreen</targetReference>
            </connector>
            <label>Success</label>
        </rules>
        <rules>
            <name>Failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FailureScreen</targetReference>
            </connector>
            <label>Failure</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>finalAmount</name>
        <dataType>Number</dataType>
        <expression>IF({!CoverFeesInput},{!AmountAndFrequencyInput.amount}+2,{!AmountAndFrequencyInput.amount})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Payment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Payment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>AmountScreen</name>
        <label>Amount Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DetailsScreen</targetReference>
        </connector>
        <fields>
            <name>AmountAndFrequencyInput</name>
            <extensionName>cpm:amountAndFrequency</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Please select an amount&lt;/p&gt;</errorMessage>
                <formulaExpression>!ISBLANK({!AmountAndFrequencyInput.amount})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ImpactNarrative25</name>
            <extensionName>flowruntime:message</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageContent</name>
                <value>
                    <stringValue>Your $25 dontation could provide meals for 20 gibbons.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AmountAndFrequencyInput.amount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>25.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ImpactNarrative50</name>
            <extensionName>flowruntime:message</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageContent</name>
                <value>
                    <stringValue>Your $50 donation could provide meals for 20 gibbons and give them extra bananas.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AmountAndFrequencyInput.amount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>50.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ImpactNarrative100</name>
            <extensionName>flowruntime:message</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageContent</name>
                <value>
                    <stringValue>Your $100 donation could give the gibbons new plushies.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AmountAndFrequencyInput.amount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>100.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Amount</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>DetailsScreen</name>
        <label>Details Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_contact</targetReference>
        </connector>
        <fields>
            <name>DetailsScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DetailsScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FirstNameInput2</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DetailsScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LastNameInput2</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EmailInput2</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Information</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>FailureScreen</name>
        <label>Failure Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FailureDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;Something went wrong!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Something went wrong with your payment. If you&apos;d like the gibbons to get their bananas please go back to the previous screen and try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pay_screen</name>
        <label>Pay screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PaymentMethodSelector</name>
            <extensionName>cpm:paymentMethodSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>frequency</name>
                <value>
                    <elementReference>AmountAndFrequencyInput.frequency</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentMethodConfig</name>
                <value>
                    <stringValue>{&quot;oneTime&quot;:[{&quot;enabled&quot;:true,&quot;icon&quot;:&quot;utility:money&quot;,&quot;id&quot;:&quot;DummyExtension-PSP-Acceptgiro&quot;,&quot;isDefault&quot;:true,&quot;name&quot;:&quot;Acceptgiro&quot;,&quot;processor&quot;:&quot;DummyExtension-PSP&quot;,&quot;processorColor&quot;:&quot;#5c5c5c&quot;,&quot;supportsRecurring&quot;:true,&quot;parameters&quot;:[{&quot;name&quot;:&quot;PAYMENT_PROFILE&quot;,&quot;data_type&quot;:&quot;Id&quot;,&quot;required&quot;:true,&quot;description&quot;:&quot;From V2! The ID of the Payment Profile we should use....&quot;,&quot;displayLabel&quot;:&quot;Iban&quot;,&quot;visibleToCustomer&quot;:true},{&quot;name&quot;:&quot;customMandateReference&quot;,&quot;data_type&quot;:&quot;string&quot;,&quot;required&quot;:false,&quot;description&quot;:&quot;&quot;}],&quot;displayLabel&quot;:&quot;SEPA Direct Debit&quot;,&quot;merchantAccountGroup&quot;:&quot;static&quot;,&quot;merchantAccount&quot;:&quot;Test Target&quot;,&quot;redirectInstruction&quot;:&quot;&quot;,&quot;enabledOneTime&quot;:false,&quot;isDefaultOneTime&quot;:false,&quot;enabledRecurring&quot;:false,&quot;isDefaultRecurring&quot;:false},{&quot;enabled&quot;:true,&quot;icon&quot;:&quot;utility:entitlement&quot;,&quot;id&quot;:&quot;DummyExtension-PSP-CreditCard&quot;,&quot;isDefault&quot;:false,&quot;name&quot;:&quot;CreditCard&quot;,&quot;processor&quot;:&quot;DummyExtension-PSP&quot;,&quot;processorColor&quot;:&quot;#5c5c5c&quot;,&quot;supportsRecurring&quot;:true,&quot;parameters&quot;:[],&quot;displayLabel&quot;:&quot;Credit Card&quot;,&quot;merchantAccountGroup&quot;:&quot;static&quot;,&quot;merchantAccount&quot;:&quot;Test Target&quot;,&quot;redirectInstruction&quot;:&quot;You will be redirected to a secure checkout page.&quot;,&quot;enabledOneTime&quot;:true,&quot;isDefaultOneTime&quot;:true,&quot;enabledRecurring&quot;:false,&quot;isDefaultRecurring&quot;:false},{&quot;enabled&quot;:true,&quot;icon&quot;:&quot;utility:world&quot;,&quot;id&quot;:&quot;DummyExtension-PSP-ideal&quot;,&quot;isDefault&quot;:false,&quot;name&quot;:&quot;ideal&quot;,&quot;processor&quot;:&quot;DummyExtension-PSP&quot;,&quot;processorColor&quot;:&quot;#5c5c5c&quot;,&quot;supportsRecurring&quot;:false,&quot;parameters&quot;:[{&quot;name&quot;:&quot;issuer&quot;,&quot;data_type&quot;:&quot;Enum&quot;,&quot;required&quot;:false,&quot;description&quot;:&quot;The issueing bank. Use this parameter to skip the bank selection screen of the PSP and send the user directly to their bank&apos;s authorization environment.&quot;,&quot;enum&quot;:[{&quot;value&quot;:&quot;abnamro&quot;,&quot;label&quot;:&quot;ABN AMRO&quot;,&quot;image&quot;:{&quot;svg&quot;:&quot;https://external.findock.com/icon/payment-methods/ideal/abnamro.svg&quot;}},{&quot;value&quot;:&quot;asnbank&quot;,&quot;label&quot;:&quot;ASN Bank&quot;,&quot;image&quot;:{&quot;svg&quot;:&quot;https://external.findock.com/icon/payment-methods/ideal/asn.svg&quot;}},{&quot;value&quot;:&quot;ing&quot;,&quot;label&quot;:&quot;ING&quot;,&quot;image&quot;:{&quot;svg&quot;:&quot;https://external.findock.com/icon/payment-methods/ideal/ing.svg&quot;}},{&quot;value&quot;:&quot;rabobank&quot;,&quot;label&quot;:&quot;Rabobank&quot;,&quot;image&quot;:{&quot;svg&quot;:&quot;https://external.findock.com/icon/payment-methods/ideal/rabobank.svg&quot;}},{&quot;value&quot;:&quot;snsbank&quot;,&quot;label&quot;:&quot;SNS&quot;,&quot;image&quot;:{&quot;svg&quot;:&quot;https://external.findock.com/icon/payment-methods/ideal/sns.svg&quot;}},{&quot;value&quot;:&quot;snsregiobank&quot;,&quot;label&quot;:&quot;Regiobank&quot;,&quot;image&quot;:{&quot;svg&quot;:&quot;https://external.findock.com/icon/payment-methods/ideal/regiobank.svg&quot;}},{&quot;value&quot;:&quot;triodosbank&quot;,&quot;label&quot;:&quot;Triodos Bank&quot;,&quot;image&quot;:{&quot;svg&quot;:&quot;https://external.findock.com/icon/payment-methods/ideal/triodos.svg&quot;}},{&quot;value&quot;:&quot;vanlanschot&quot;,&quot;label&quot;:&quot;Van Lanschot&quot;,&quot;image&quot;:{&quot;svg&quot;:&quot;https://external.findock.com/icon/payment-methods/ideal/vanlanschot.svg&quot;}},{&quot;value&quot;:&quot;knab&quot;,&quot;label&quot;:&quot;Knab&quot;,&quot;image&quot;:{&quot;svg&quot;:&quot;https://external.findock.com/icon/payment-methods/ideal/knab.svg&quot;}},{&quot;value&quot;:&quot;bunq&quot;,&quot;label&quot;:&quot;Bunq&quot;,&quot;image&quot;:{&quot;svg&quot;:&quot;https://external.findock.com/icon/payment-methods/ideal/bunq.svg&quot;}}],&quot;literals&quot;:[&quot;abnamro&quot;,&quot;asnbank&quot;,&quot;ing&quot;,&quot;rabobank&quot;,&quot;snsbank&quot;,&quot;snsregiobank&quot;,&quot;triodosbank&quot;,&quot;vanlanschot&quot;,&quot;knab&quot;,&quot;bunq&quot;],&quot;visibleToCustomer&quot;:true,&quot;displayLabel&quot;:&quot;issuer&quot;},{&quot;name&quot;:&quot;description&quot;,&quot;data_type&quot;:&quot;String&quot;,&quot;required&quot;:false,&quot;description&quot;:&quot;Description of the payment for the payer’s bank.&quot;},{&quot;name&quot;:&quot;brand&quot;,&quot;data_type&quot;:&quot;Enum&quot;,&quot;required&quot;:false,&quot;description&quot;:&quot;Credit card brand&quot;,&quot;enum&quot;:[{&quot;value&quot;:&quot;amex&quot;,&quot;label&quot;:&quot;American Express&quot;,&quot;image&quot;:{&quot;svg&quot;:&quot;https://external.findock.com/icon/payment-methods/creditcard/amex.svg&quot;}},{&quot;value&quot;:&quot;visa&quot;,&quot;label&quot;:&quot;Visa&quot;,&quot;image&quot;:{&quot;svg&quot;:&quot;https://external.findock.com/icon/payment-methods/creditcard/visa.svg&quot;}},{&quot;value&quot;:&quot;mastercard&quot;,&quot;label&quot;:&quot;Mastercard&quot;,&quot;image&quot;:{&quot;svg&quot;:&quot;https://external.findock.com/icon/payment-methods/creditcard/mastercard.svg&quot;}}],&quot;literals&quot;:[&quot;amex&quot;,&quot;visa&quot;,&quot;mastercard&quot;]}],&quot;displayLabel&quot;:&quot;Wero | iDeal&quot;,&quot;merchantAccountGroup&quot;:&quot;static&quot;,&quot;merchantAccount&quot;:&quot;&quot;,&quot;redirectInstruction&quot;:&quot;&quot;,&quot;enabledOneTime&quot;:true,&quot;isDefaultOneTime&quot;:false,&quot;enabledRecurring&quot;:false,&quot;isDefaultRecurring&quot;:false},{&quot;enabled&quot;:false,&quot;icon&quot;:&quot;utility:world&quot;,&quot;id&quot;:&quot;DummyExtension-PSP-Giropayments&quot;,&quot;isDefault&quot;:false,&quot;name&quot;:&quot;Giropayments&quot;,&quot;processor&quot;:&quot;DummyExtension-PSP&quot;,&quot;processorColor&quot;:&quot;#5c5c5c&quot;,&quot;supportsRecurring&quot;:false,&quot;parameters&quot;:{}}],&quot;recurring&quot;:[{&quot;enabled&quot;:true,&quot;icon&quot;:&quot;utility:entitlement&quot;,&quot;id&quot;:&quot;DummyExtension-PSP-CreditCard&quot;,&quot;isDefault&quot;:true,&quot;name&quot;:&quot;CreditCard&quot;,&quot;processor&quot;:&quot;DummyExtension-PSP&quot;,&quot;processorColor&quot;:&quot;#5c5c5c&quot;,&quot;supportsRecurring&quot;:true,&quot;parameters&quot;:[],&quot;displayLabel&quot;:&quot;Credit Card&quot;,&quot;merchantAccountGroup&quot;:&quot;static&quot;,&quot;merchantAccount&quot;:&quot;&quot;,&quot;redirectInstruction&quot;:&quot;&quot;,&quot;enabledOneTime&quot;:true,&quot;isDefaultOneTime&quot;:true,&quot;enabledRecurring&quot;:false,&quot;isDefaultRecurring&quot;:false},{&quot;enabled&quot;:false,&quot;icon&quot;:&quot;utility:money&quot;,&quot;id&quot;:&quot;DummyExtension-PSP-Acceptgiro&quot;,&quot;isDefault&quot;:false,&quot;name&quot;:&quot;Acceptgiro&quot;,&quot;processor&quot;:&quot;DummyExtension-PSP&quot;,&quot;processorColor&quot;:&quot;#5c5c5c&quot;,&quot;supportsRecurring&quot;:true,&quot;parameters&quot;:{&quot;PAYMENT_PROFILE&quot;:{&quot;name&quot;:&quot;PAYMENT_PROFILE&quot;,&quot;data_type&quot;:&quot;Id&quot;,&quot;required&quot;:true,&quot;description&quot;:&quot;From V2! The ID of the Payment Profile we should use....&quot;},&quot;customMandateReference&quot;:{&quot;name&quot;:&quot;customMandateReference&quot;,&quot;data_type&quot;:&quot;string&quot;,&quot;required&quot;:false,&quot;description&quot;:&quot;&quot;}}}]}</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CoverFeesInput</name>
            <dataType>Boolean</dataType>
            <fieldText>Cover transaction fees (+€2.00)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>payButton</name>
            <dataTypeMappings>
                <typeName>recurringType</typeName>
                <typeValue>Recurring_Payment__c</typeValue>
            </dataTypeMappings>
            <extensionName>cpm:payButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pixConfig</name>
                <value>
                    <stringValue>{&quot;payer&quot;:{&quot;contactObject&quot;:{&quot;name&quot;:&quot;payerContactVarName&quot;,&quot;value&quot;:&quot;{!contactRecord}&quot;,&quot;valueDataType&quot;:&quot;reference&quot;}},&quot;paymentMethod&quot;:{&quot;name&quot;:&quot;paymentMethodObjectVar&quot;,&quot;value&quot;:&quot;{!PaymentMethodSelector.context}&quot;,&quot;valueDataType&quot;:&quot;reference&quot;},&quot;oneTime&quot;:{&quot;valueDataType&quot;:&quot;Object&quot;,&quot;value&quot;:{&quot;amount&quot;:{&quot;name&quot;:&quot;oneTimeAmount&quot;,&quot;value&quot;:&quot;{!finalAmount}&quot;,&quot;valueDataType&quot;:&quot;reference&quot;},&quot;currencyIsoCode&quot;:{&quot;name&quot;:&quot;oneTimeCurrencyVar&quot;,&quot;value&quot;:&quot;USD&quot;,&quot;valueDataType&quot;:&quot;String&quot;}}},&quot;successUrl&quot;:{&quot;name&quot;:&quot;successUrl&quot;,&quot;value&quot;:&quot;https://java-force-6083-dev-ed.scratch.my.site.com/?status=success&quot;,&quot;valueDataType&quot;:&quot;String&quot;},&quot;failureUrl&quot;:{&quot;name&quot;:&quot;failureUrl&quot;,&quot;value&quot;:&quot;https://java-force-6083-dev-ed.scratch.my.site.com/?status=failure&quot;,&quot;valueDataType&quot;:&quot;String&quot;}}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>successUrl</name>
                <value>
                    <stringValue>https://java-force-6083-dev-ed.scratch.my.site.com/?status=success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>failureUrl</name>
                <value>
                    <stringValue>https://java-force-6083-dev-ed.scratch.my.site.com/?status=failure</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amountOneTime</name>
                <value>
                    <elementReference>finalAmount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currencyOneTime</name>
                <value>
                    <stringValue>USD</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentMethodContext</name>
                <value>
                    <elementReference>PaymentMethodSelector.context</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contact</name>
                <value>
                    <elementReference>contactRecord</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Payment</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>Success Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;Thank you for your donation!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your donation helps the gibbons live their best live with many bananas and good care.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Amount</name>
        <isActive>true</isActive>
        <label>Amount</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Information</name>
        <isActive>false</isActive>
        <label>Information</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Payment</name>
        <isActive>false</isActive>
        <label>Payment</label>
        <stageOrder>3</stageOrder>
    </stages>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StatusDecision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
